<!-- jumbotron bootstrap element -->

<div class="jumbotron py-3" style="background-color: rgb(235, 230, 230)">
  <h1 class="display-4 text-center">Payment Detail Register</h1>
</div>
<div class="row">
  <div class="col-md-6">
    <app-payment-detail-form></app-payment-detail-form>
  </div>
  <div class="col-md-6" style="padding-top: 70px">
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>Card Owner</th>
          <th>Card Number</th>
          <th>Security Code</th>
          <th>Exp.Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pd of service.list">
          <td>{{ pd.cardOwnerName }}</td>
          <td>{{ pd.cardNumber }}</td>
          <td>{{ pd.expirationDate }}</td>
          <td>{{ pd.securityCode }}</td>
          <td>
            <i
              class="far.fa-trash-alt.fa-lg.text-danger"
              class="btn btn-danger"
              (click)="onDelete(pd.paymentDetailId)"
              >Delete</i
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
